body {
    background-color: #28a745;
}

.navbar {
    background-color: #28a745;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #fff;
}

.img-fluid rounded-circle{
    text-align: center;
  }
  .image-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
.btn-primary,
.btn-success,
.badge-primary,
.badge-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover,
.btn-success:hover,
.badge-primary:hover,
.badge-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.table td,
.table th {
    border-color: #28a745;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-hover tbody tr:hover {
    background-color: #d1e7dd;
}
